@colorInput-wrap-bgColor:                                #fff;
@colorInput-wrap-borderWidth:                            2px;
@colorInput-wrap-borderColor:                            #e5e5e5;

@colorInput-trigger-span-color:                          #eee;
@colorInput-trigger-borderColor:                         #e5e5e5;

@colorInput-input-color:                                 #aaa;

@colorInput-bgColor:                                     #fff;
@colorInput-borderColor:                                 @az-reactive-color;

@colorInput-saturation-borderColor:                      #e5e5e5;
@colorInput-saturation-bgColor:                          #f00;
@colorInput-saturation-i-borderWidth:                    2px;
@colorInput-saturation-i-borderColor:                    #fff;

@colorInput-hue-borderColor:                             #e5e5e5;
@colorInput-hue-i-bgColor:                               rgba(248,248,248,0.5);
@colorInput-hue-i-borderWidth:                           2px;
@colorInput-hue-i-borderColor:                           #c4c6cc;

@colorInput-alpha-borderColor:                           #e5e5e5;
@colorInput-alpha-i-bgColor:                             rgba(248,248,248,0.5);
@colorInput-alpha-i-borderWidth:                         2px;
@colorInput-alpha-i-borderColor:                         #c4c6cc;

@colorInput-preview-borderColor:                         #e5e5e5;

@colorInput-palettes-li-borderColor:                     #e5e5e5;

@colorInput-hex-color:                                   #aaa;
@colorInput-hex-borderColor:                             #e5e5e5;
@colorInput-hex-bgColor:                                 #fff;
@colorInput-hex_hover-borderColor:                       #d9d9d9;
@colorInput-hex_focus-color:                             #444;
@colorInput-hex_focus-borderColor:                       @az-reactive-color;

@colorInput-check-cancel-color:                          #777;
@colorInput-check-cancel_hover-color:                    #444;

@colorInput-gradient-controll-color:                     #777;
@colorInput-gradient-controll_hover-color:               #444;

@colorInput-gradient-bgColor:                            #fafafa;
@colorInput-gradient-borderColor:                        #e5e5e5;
@colorInput-gradient-after-bgColor:                      @colorInput-gradient-bgColor;
@colorInput-gradient-after-borderColor:                  @colorInput-gradient-after-bgColor;

@colorInput-gradient-panel-borderColor:                  #e5e5e5;

@colorInput-gradient-marker-bgColor:                     #fff;
@colorInput-gradient-marker-borderColor:                 #c8c8c8;
@colorInput-gradient-marker-after-bgColor:               @colorInput-gradient-marker-bgColor;
@colorInput-gradient-marker-after-borderColor:           @colorInput-gradient-marker-borderColor;
@colorInput-gradient-marker_active-borderColor:          #41a9e5;
@colorInput-gradient-marker_active-after-borderColor:    @colorInput-gradient-marker_active-borderColor;
@colorInput-gradient-marker-i-borderColor:               #e5e5e5;

@colorInput-gradient-wheel-borderColor:                  #e5e5e5;
@colorInput-gradinet-wheel-i-bgColor:                    #444;

@colorInput-gradient-degree-bgColor:                     #fff;
@colorInput-gradient-degree-borderColor:                 #e5e5e5;
@colorInput-gradient-degree_hover-borderColor:           #d9d9d9;
@colorInput-gradient-degree_focus-color:                 #444;
@colorInput-gradient-degree_focus-borderColor:           @az-reactive-color;