@colorInput-wrap-bgColor:                                #fff;
@colorInput-wrap-borderWidth:                            2px;
@colorInput-wrap-borderColor:                            #e5e5e5;

@colorInput-trigger-borderColor:                         #e5e5e5;
@colorInput-trigger-arrow-color:                         #eee;

@colorInput-input-color:                                 #aaa;

@colorInput-bgColor:                                     #fff;
@colorInput-borderColor:                                 @primary-color;

@colorInput-components-borderColor:                      #e5e5e5;

@colorInput_fullStack-saturation-bgColor:                #f00;
@colorInput_basic-saturation-bgColor:                    #f00;
@colorInput-saturation-pointer-borderWidth:              2px;
@colorInput-saturation-pointer-borderColor:              #fff;

@colorInput-hue-alpha-bar-bgColor:                       rgba(248,248,248,0.5);
@colorInput-hue-alpha-bar-borderWidth:                   2px;
@colorInput-hue-alpha-bar-borderColor:                   #c4c6cc;

@colorInput-preview-borderColor:                         #e5e5e5;

@colorInput-palettes-borderColor:                        #e5e5e5;

@colorInput-hex-color:                                   #aaa;
@colorInput-hex-borderColor:                             #e5e5e5;
@colorInput-hex-bgColor:                                 #fff;
@colorInput-hex_hover-borderColor:                       #d9d9d9;
@colorInput-hex_focus-color:                             #444;
@colorInput-hex_focus-borderColor:                       @primary-color;

@colorInput-check-cancel-color:                          #777;
@colorInput-check-cancel_hover-color:                    #444;

@colorInput-gradient-controll-color:                     #777;
@colorInput-gradient-controll_hover-color:               #444;

@colorInput-gradient-bgColor:                            #fafafa;
@colorInput-gradient-borderColor:                        #e5e5e5;
@colorInput-gradient-arrow-bgColor:                      @colorInput-gradient-bgColor;
@colorInput-gradient-arrow-borderColor:                  @colorInput-gradient-borderColor;

@colorInput-gradient-panel-borderColor:                  #e5e5e5;

@colorInput-gradient-marker-bgColor:                     #fff;
@colorInput-gradient-marker-borderColor:                 #c8c8c8;
@colorInput-gradient-marker-arrow-bgColor:               @colorInput-gradient-marker-bgColor;
@colorInput-gradient-marker-arrow-borderColor:           @colorInput-gradient-marker-borderColor;
@colorInput-gradient-marker-colorBox-borderColor:        #e5e5e5;
@colorInput-gradient-marker_active-borderColor:          #41a9e5;
@colorInput-gradient-marker_active-arrow-borderColor:    @colorInput-gradient-marker_active-borderColor;

@colorInput-gradient-wheel-borderColor:                  #e5e5e5;
@colorInput-gradient-wheel-pointer-bgColor:              #444;

@colorInput-gradient-degree-color:                       #aaa;
@colorInput-gradient-degree-bgColor:                     #fff;
@colorInput-gradient-degree_hover-borderColor:           #d9d9d9;
@colorInput-gradient-degree_focus-color:                 #444;
@colorInput-gradient-degree_focus-borderColor:           @primary-color;