<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
        }
        .demo {
            list-style: none;
        }
        .demo li {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Buttons</h2>
        <div class="row">
            <div class="column half-tablet">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;ul&nbsp;class=&quot;demo&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_primary&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_highlight&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_action&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_caution&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_normal&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_radius&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_full&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_disabled&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_mini&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_small&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;class=&quot;asButton&nbsp;asButton_large&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;asButtons&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;asButton&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;asButton&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;asButton&quot;&nbsp;href=&quot;&quot;&gt;Buttons&lt;/a&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
            <div class="column half-tablet">
                <h4>RENDERED HTML</h4>
                <ul class="demo">
                    <li><a class="asButton" href="">Buttons</a></li>
                    <li><a class="asButton asButton_primary" href="">Buttons</a></li>
                    <li><a class="asButton asButton_highlight" href="">Buttons</a></li>
                    <li><a class="asButton asButton_action" href="">Buttons</a></li>
                    <li><a class="asButton asButton_caution" href="">Buttons</a></li>
                    <li><a class="asButton asButton_normal" href="">Buttons</a></li>
                    <li><a class="asButton asButton_radius" href="">Buttons</a></li>
                    <li><a class="asButton asButton_full" href="">Buttons</a></li>
                    <li><a class="asButton asButton_disabled" href="">Buttons</a></li>
                    <li><a class="asButton asButton_mini" href="">Buttons</a></li>
                    <li><a class="asButton asButton_small" href="">Buttons</a></li>
                    <li><a class="asButton asButton_large" href="">Buttons</a></li>
                    <li class="asButtons">
                        <a class="asButton" href="">Buttons</a>
                        <a class="asButton" href="">Buttons</a>
                        <a class="asButton" href="">Buttons</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    
</body>
</html>