
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
            font-size: 16px;
        }
        .demo {
            list-style: none;
        }
        .demo >li {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <section>
        <h2>ColorInput</h2>
        <section>
            <h3>BasicStyle</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;class=&quot;asColorInput-gradient&quot;&nbsp;type=&quot;text&quot;&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asColorInput-gradient&quot;).asColorInput({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asColorInput',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;'#f00',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flat:&nbsp;false,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mode:&nbsp;'gradient',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components:&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;palettes:&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;defines:&nbsp;[''],
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;colors:&nbsp;['#fff',&nbsp;'#000',&nbsp;'#0600ff',&nbsp;'#ff0000',&nbsp;'#ff9300',&nbsp;'#f0ff00',&nbsp;'#ccc',&nbsp;'#d07070',&nbsp;'#5cafda',&nbsp;'#f77268',&nbsp;'#00ffe6',&nbsp;'#c0ff00'],
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max:&nbsp;12
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input class='asColorInput-gradient' type='text' />
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>FullStack</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;class=&quot;asColorInput-basicStyle&quot;&nbsp;type=&quot;text&quot;&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asColorInput-basicStyle&quot;).asColorInput({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asColorInput',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;'#f00',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flat:&nbsp;false,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;format:&nbsp;'rgba',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mode:&nbsp;'basicStyle',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components:&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;palettes:&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;defines:&nbsp;[''],
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;colors:&nbsp;['#fff',&nbsp;'#000',&nbsp;'#0600ff',&nbsp;'#ff0000',&nbsp;'#ff9300',&nbsp;'#f0ff00',&nbsp;'#ccc',&nbsp;'#d07070',&nbsp;'#5cafda',&nbsp;'#f77268',&nbsp;'#00ffe6',&nbsp;'#c0ff00'],
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max:&nbsp;12
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input class='asColorInput-basicStyle' type='text' />
                </div>
            </div>
        </section>
    </section>


    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>   
    <script type="text/javascript" src="../js/highlighting/javascript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery-asColor.min.js"></script>
    <script type="text/javascript" src="../js/jquery-asColorInput.js"></script>
    <script>
        $(document).ready(function() {
            $.asColorInput.modes.basicStyle = {
                saturation: true,
                hue: true,
                hex: true,
                preview: true,
                palettes: true,
                buttons: true
            };
            $(".asColorInput-gradient").asColorInput({
                namespace: 'asColorInput',
                color: '#f00',
                flat: false,
                mode: 'gradient',
                components: {
                    palettes: {
                        defines: [''],
                        colors: ['#fff', '#000', '#0600ff', '#ff0000', '#ff9300', '#f0ff00', '#ccc', '#d07070', '#5cafda', '#f77268', '#00ffe6', '#c0ff00'],
                        max: 12
                    }
                }
            });
            $(".asColorInput-basicStyle").asColorInput({
                namespace: 'asColorInput',
                color: '#f00',
                flat: false,
                format: 'rgba',
                mode: 'basicStyle',
                components: {
                    palettes: {
                        defines: [''],
                        colors: ['#fff', '#000', '#0600ff', '#ff0000', '#ff9300', '#f0ff00', '#ccc', '#d07070', '#5cafda', '#f77268', '#00ffe6', '#c0ff00'],
                        max: 12
                    }
                }
            });
        });
    </script>
</body>
</html>