<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Datepicker</h2>
        <section>
            <h3>Default</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;type=&quot;text&quot;&nbsp;class=&quot;asCalendar&nbsp;asCalendar1&quot;/&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asCalendar1&quot;).asDatepicker({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asCalendar'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('#asCalendar-api-show-click').click(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asCalendar1').asDatepicker('show');
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;false;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('#asCalendar-api-hide-click').click(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asCalendar1').asDatepicker('hide');
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;false;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input type="text" class="asCalendar asCalendar1"/>
                    <a id="asCalendar-api-show-click" href="#">Click to show calendar</a>
                    <a id="asCalendar-api-hide-click" href="#">Click to hide calendar</a>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Range</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;type=&quot;text&quot;&nbsp;class=&quot;asCalendar&nbsp;asCalendar2&quot;/&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asCalendar2&quot;).asDatepicker({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asCalendar',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mode:&nbsp;'range'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input type="text" class="asCalendar asCalendar2"/>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Multiple</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;type=&quot;text&quot;&nbsp;class=&quot;asCalendar&nbsp;asCalendar3&quot;/&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asCalendar3&quot;).asDatepicker({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asCalendar',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mode:&nbsp;'multiple',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;calendars:&nbsp;'3'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('#api-multipleClear-click').click(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asCalendar3&quot;).asDatepicker('multipleClear');
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;false;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input type="text" class="asCalendar asCalendar3"/>
                    <button id="api-multipleClear-click">clear</button>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Data attributes</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;type=&quot;text&quot;&nbsp;data-mode=&quot;range&quot;&nbsp;data-range-mode=&quot;section&quot;&nbsp;data-selectable-year=&quot;2001&gt;2010,2013,2015&gt;2018&quot;&nbsp;class=&quot;asCalendar&nbsp;asCalendar4&quot;/&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asCalendar4&quot;).asDatepicker({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asCalendar'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input type="text" data-mode="range" data-range-mode="section" data-selectable-year="2001>2010,2013,2015>2018" class="asCalendar asCalendar4"/>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>DisplayMode</h3>
            <div class="row">
                <div class="column half-tablet">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;input&nbsp;type=&quot;text&quot;&nbsp;class=&quot;asCalendar&nbsp;asCalendar5&quot;/&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;.asCalendar5&quot;).asDatepicker({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asCalendar',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;displayMode:&nbsp;'inline'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half-tablet">
                    <h4>RENDERED HTML</h4>
                    <input type="text" class="asCalendar asCalendar5"/>
                </div>
            </div>
        </section>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/highlighting/javascript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery-asDatepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".asCalendar1").asDatepicker({
                namespace: 'asCalendar'
            });
            $('#asCalendar-api-show-click').click(function(){
                $('.asCalendar1').asDatepicker('show');
                return false;
            });
            $('#asCalendar-api-hide-click').click(function(){
                $('.asCalendar1').asDatepicker('hide');
                return false;
            });
            $(".asCalendar2").asDatepicker({
                namespace: 'asCalendar',
                mode: 'range'
            });
            $(".asCalendar3").asDatepicker({
                namespace: 'asCalendar',
                mode: 'multiple',
                calendars: '3'
            });
            $('#api-multipleClear-click').click(function() {
                $(".asCalendar3").asDatepicker('multipleClear');
                return false;
            });
            $(".asCalendar4").asDatepicker({
                namespace: 'asCalendar'
            });
            $(".asCalendar5").asDatepicker({
                namespace: 'asCalendar',
                displayMode: 'inline'
            });
        });
    </script>
</body>
</html>