<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
            font-size: 16px;
        }
        .demo {
            list-style: none;
        }
        .demo >li {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Dropdown</h2>
        <section>
            <h3>Default</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&nbsp;class=&quot;asDropdown-wrap1&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;asDropdown-trigger&quot;&gt;&lt;i&nbsp;class=&quot;asIcon-caret-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown4&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asDropdown-wrap1&nbsp;.asDropdown-trigger').asDropdown({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asDropdown'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div class="asDropdown-wrap1">
                        <div class="asDropdown-trigger">dropdown<i class="asIcon-caret-down"></i></div>
                        <ul>
                            <li>dropdown1</li>
                            <li>dropdown2</li>
                            <li>dropdown3</li>
                            <li>dropdown4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Panel selector</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&nbsp;class=&quot;asDropdown-wrap2&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;asDropdown-trigger&quot;&gt;dropdown&lt;i&nbsp;class=&quot;asIcon-caret-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Here&nbsp;used&nbsp;to&nbsp;split&lt;/p&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asDropdown-content&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown4&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asDropdown-wrap2&nbsp;.asDropdown-trigger').asDropdown({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asDropdown',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panel:&nbsp;'.asDropdown-content'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div class="asDropdown-wrap2">
                        <div class="asDropdown-trigger">dropdown<i class="asIcon-caret-down"></i></div>
                        <p>Here used to split</p>
                        <ul class="asDropdown-content">
                            <li>dropdown1</li>
                            <li>dropdown2</li>
                            <li>dropdown3</li>
                            <li>dropdown4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>ClickoutHide</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&nbsp;class=&quot;asDropdown-wrap3&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;asDropdown-trigger&quot;&gt;dropdown&lt;i&nbsp;class=&quot;asIcon-caret-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;dropdown4&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asDropdown-wrap3&nbsp;.asDropdown-trigger').asDropdown({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asDropdown',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;clickoutHide:&nbsp;false
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div class="asDropdown-wrap3">
                        <div class="asDropdown-trigger">dropdown<i class="asIcon-caret-down"></i></div>
                        <ul>
                            <li>dropdown1</li>
                            <li>dropdown2</li>
                            <li>dropdown3</li>
                            <li>dropdown4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>ImitateSelect</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&nbsp;class=&quot;asDropdown-wrap4&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;asDropdown-trigger&quot;&gt;&lt;i&nbsp;class=&quot;asIcon-caret-down&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-category=&quot;dropdown1&quot;&gt;dropdown1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-category=&quot;dropdown2&quot;&gt;dropdown2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-category=&quot;dropdown3&quot;&gt;dropdown3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-category=&quot;dropdown4&quot;&gt;dropdown4&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asDropdown-wrap4&nbsp;.asDropdown-trigger').asDropdown({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asDropdown',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;imitateSelect:&nbsp;true,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;select:&nbsp;'dropdown3',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data:&nbsp;'category',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onChange:&nbsp;function(value)&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log('selected&nbsp;'&nbsp;+&nbsp;value);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div class="asDropdown-wrap4">
                        <div class="asDropdown-trigger"><i class="asIcon-caret-down"></i></div>
                        <ul>
                            <li data-category="dropdown1">dropdown1</li>
                            <li data-category="dropdown2">dropdown2</li>
                            <li data-category="dropdown3">dropdown3</li>
                            <li data-category="dropdown4">dropdown4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/highlighting/javascript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery-asDropdown.js"></script>
    <script>
        $(document).ready(function() {
            $('.asDropdown-wrap1 .asDropdown-trigger').asDropdown({
                namespace: 'asDropdown'
            });
            $('.asDropdown-wrap2 .asDropdown-trigger').asDropdown({
                namespace: 'asDropdown',
                panel: '.asDropdown-content'
            });
            $('.asDropdown-wrap3 .asDropdown-trigger').asDropdown({
                namespace: 'asDropdown',
                clickoutHide: false
            });
            $('.asDropdown-wrap4 .asDropdown-trigger').asDropdown({
                namespace: 'asDropdown',
                imitateSelect: true,
                select: 'dropdown3',
                data: 'category',
                onChange: function(value) {
                    console.log('selected ' + value);
                }
            });
        });
    </script>
</body>
</html>