<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
            font-size: 16px;
        }
        .demo {
            list-style: none;
        }
        .demo li {
            margin-bottom: 20px;
        }
        .ab-typography {
            display: block;
        }
    </style>
</head>
<body>
    <section>
        <h2>FontEditor</h2>
        <div class="row">
            <div class="column half-tablet">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;input&nbsp;type=&quot;text&quot;&nbsp;class=&quot;ab-typography&quot;&nbsp;&nbsp;value='{&quot;font_family&quot;:&nbsp;&quot;Arial&quot;,&quot;font_size&quot;:&nbsp;&quot;30rem&quot;,&quot;line_height&quot;:&nbsp;&quot;1.5em&quot;,&quot;font_weight&quot;:&nbsp;&quot;bold&quot;,&quot;text_align&quot;:&nbsp;&quot;left&quot;,&quot;font_style&quot;:&nbsp;&quot;italy&quot;,&quot;text_transform&quot;:&nbsp;&quot;capitalize&quot;,&quot;text_decoration&quot;:&nbsp;&quot;underline&quot;}'/&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.ab-typography').asFontEditor();
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
            </div>
            <div class="column half-tablet">
                <h4>RENDERED HTML</h4>
                <input type="text" class="ab-typography"  value='{"font_family": "Arial","font_size": "30rem","line_height": "1.5em","font_weight": "bold","text_align": "left","font_style": "italy","text_transform": "capitalize","text_decoration": "underline"}' name="typography" />
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/highlighting/javascript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery-asDropdown.js"></script>
    <script type="text/javascript" src="../js/jquery-asRange.js"></script>
    <script type="text/javascript" src="../js/jquery-asFontEditor.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('.ab-typography').asFontEditor();
        });
    </script>
</body>
</html>