<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
        }
        .demo {
            list-style: none;
        }
        .demo >li {
            margin-bottom: 20px;
        }
        input + label {
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Radio</h2>
        <div class="row">
            <div class="column half-tablet">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;ul&nbsp;class=&quot;demo&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;id=&quot;asRadio1&quot;&nbsp;class=&quot;asRadio&quot;&nbsp;type=&quot;radio&quot;&nbsp;/&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&nbsp;for=&quot;asRadio1&quot;&gt;Normal&lt;/label&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;id=&quot;asRadio2&quot;&nbsp;class=&quot;asRadio&quot;&nbsp;type=&quot;radio&quot;&nbsp;disabled=&quot;disabled&quot;&nbsp;/&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&nbsp;for=&quot;asRadio2&quot;&gt;Disabled&lt;/label&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;id=&quot;asRadio3&quot;&nbsp;class=&quot;asRadio&quot;&nbsp;type=&quot;radio&quot;&nbsp;disabled=&quot;disabled&quot;&nbsp;checked=&quot;checked&quot;&nbsp;/&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&nbsp;for=&quot;asRadio3&quot;&gt;Disabled&nbsp;&amp;&nbsp;Checked&lt;/label&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;
&lt;/ul&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function()&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.asRadio').asCheck({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asRadio'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
            </div>
            <div class="column half-tablet">
                <h4>RENDERED HTML</h4>
                <ul class="demo">
                    <li>
                        <input id="asRadio1" class="asRadio" type="radio" />
                        <label for="asRadio1">Normal</label>
                    </li>
                    <li>
                        <input id="asRadio2" class="asRadio" type="radio" disabled="disabled" />
                        <label for="asRadio2">Disabled</label>
                    </li>
                    <li>
                        <input id="asRadio3" class="asRadio" type="radio" disabled="disabled" checked="checked" />
                        <label for="asRadio3">Disabled &amp; Checked</label>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/highlighting/javascript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery-asCheck.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.asRadio').asCheck({
                namespace: 'asRadio'
            });
        });
    </script>   
</body>
</html>