
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
        }
        form {
            width: 220px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Search</h2>
        <div class="row">
            <div class="column half-tablet">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;form&nbsp;class=&quot;asSearch&quot;&nbsp;action=&quot;&quot;&nbsp;method=&quot;get&quot;&nbsp;role=&quot;search&quot;&gt;
    &lt;input&nbsp;class=&quot;asInput&quot;&nbsp;id=&quot;s&quot;&nbsp;type=&quot;text&quot;&nbsp;name=&quot;s&quot;&nbsp;placeholder=&quot;search...&quot;&gt;
    &lt;button&nbsp;type=&quot;submit&quot;&nbsp;id=&quot;searchsubmit&quot;&nbsp;class=&quot;asIcon-search&quot;&gt;search&lt;/button&gt;
&lt;/form&gt;</code></pre>
            </div>
            <div class="column half-tablet">
                <h4>RENDERED HTML</h4>
                <form class="asSearch" action="" method="get" role="search">
                    <input class="asInput" id="s" type="text" name="s" placeholder="search...">
                    <button type="submit" id="searchsubmit" class="asIcon-search">search</button>
                </form>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
</body>
</html>