<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wp-admin.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <link rel="stylesheet" href="../css/effects.css">
    <link rel="stylesheet" type="text/css" href="../css/adaptGrid.css">
    <link rel="stylesheet" type="text/css" href="../../css/amazing-plugin-ui-min.css">
    <style>
        body {
            padding: 40px;
            font-size: 16px;
        }
        .page0 {
            background-color: #0ac2d2;
        }
        .page1 {
            background-color: #f68dbb;
        }
        .page2 {
            background-color: #60d7a9;
        }
    </style>
</head>
<body>
    <section>
        <h2>Tabs</h2>
        <section>
            <h3>Default</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo1&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes1&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab1.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab2.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab3.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo1').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes1',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo1">
                            <li>tab1</li>
                            <li>tab2</li>
                            <li>tab3</li>
                        </ul>
                        <ul class="panes1">
                            <li>This's tab1.</li>
                            <li>This's tab2.</li>
                            <li>This's tab3.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Ajax content</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo2&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-href=&quot;../ajax/ajax1.txt&quot;&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-href=&quot;../ajax/ajax2.txt&quot;&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;data-href=&quot;../ajax/ajax3.txt&quot;&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes2&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo2').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes2',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ajax:&nbsp;true,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo2">
                            <li data-href="../ajax/ajax1.txt">tab1</li>
                            <li data-href="../ajax/ajax2.txt">tab2</li>
                            <li data-href="../ajax/ajax3.txt">tab3</li>
                        </ul>
                        <ul class="panes2">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Mouseover</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo3&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes3&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab1.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab2.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab3.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo3').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes3',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;event:&nbsp;'mouseover'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo3">
                            <li>tab1</li>
                            <li>tab2</li>
                            <li>tab3</li>
                        </ul>
                        <ul class="panes3">
                            <li>This's tab1.</li>
                            <li>This's tab2.</li>
                            <li>This's tab3.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>InitalIndex</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo4&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes4&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab1.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab2.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab3.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo4').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes4',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;initialIndex:&nbsp;2
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo4">
                            <li>tab1</li>
                            <li>tab2</li>
                            <li>tab3</li>
                        </ul>
                        <ul class="panes4">
                            <li>This's tab1.</li>
                            <li>This's tab2.</li>
                            <li>This's tab3.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>History</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo5&quot;&nbsp;id=&quot;tab1&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes5&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab1.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab2.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab3.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo5').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes5',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;history:&nbsp;true
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo5" id="tab1">
                            <li>tab1</li>
                            <li>tab2</li>
                            <li>tab3</li>
                        </ul>
                        <ul class="panes5">
                            <li>This's tab1.</li>
                            <li>This's tab2.</li>
                            <li>This's tab3.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Keyboard</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo6&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes6&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab1.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab2.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab3.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo6').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes6',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;keyboard:&nbsp;true
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo6">
                            <li>tab1</li>
                            <li>tab2</li>
                            <li>tab3</li>
                        </ul>
                        <ul class="panes6">
                            <li>This's tab1.</li>
                            <li>This's tab2.</li>
                            <li>This's tab3.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <h3>Effect</h3>
            <div class="row">
                <div class="column half">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;asTabs&nbsp;demo7&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab1&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab2&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;tab3&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&nbsp;class=&quot;panes7&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab1.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab2.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;This's&nbsp;tab3.&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
&nbsp;&nbsp;&nbsp;&nbsp;$(function(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('.demo7').asTabs({
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;namespace:&nbsp;'asTabs',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;panes_wrap:&nbsp;'.panes7',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;skin:&nbsp;'mini',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;effect:&nbsp;scaleUp
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;&nbsp;&nbsp;});
&lt;/script&gt;</code></pre>
                </div>
                <div class="column half">
                    <h4>RENDERED HTML</h4>
                    <div>
                        <ul class="asTabs demo7">
                            <li>tab1</li>
                            <li>tab2</li>
                            <li>tab3</li>
                        </ul>
                        <ul class="panes7">
                            <li class="page0">This's tab1.</li>
                            <li class="page1">This's tab2.</li>
                            <li class="page2">This's tab3.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/highlighting/javascript.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery-asTabs.js"></script>
    <script>
        $(function(){
            $('.demo1').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes1',
                skin: 'mini'
            });
            $('.demo2').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes2',
                ajax: true,
                skin: 'mini'
            });
            $('.demo3').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes3',
                skin: 'mini',
                event: 'mouseover'
            });
            $('.demo4').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes4',
                skin: 'mini',
                initialIndex: 2
            });
            $('.demo5').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes5',
                skin: 'mini',
                history: true
            });
            $('.demo6').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes6',
                skin: 'mini',
                keyboard: true
            });
            $('.demo7').asTabs({
                namespace: 'asTabs',
                panes_wrap: '.panes7',
                skin: 'mini',
                effect: 'scaleUp'
            });
        });
    </script>
</body>
</html>