@asBgPicker-initiate-bgColor:                         #fff;
@asBgPicker-initiate-borderColor:                     #e5e5e5;

@asBgPicker-image-info-color:                         #9aa4a8;
@asBgPicker-image-info-icon-color:                    #dbdbdb;

@asBgPicker-actions-color:                            #fff;
@asBgPicker-actions-bgColor:                          rgba(0,0,0,.8);
@asBgPicker-actions-borderColor:                      #dbdbdb;

@asBgPicker-extend-bgColor:                           #f4f6f7;
@asBgPicker-extend-image-wrap-borderColor:            #dbddde;
@asBgPicker-extend-title-color:                       #6e7a8a;
@asBgPicker-extend-content-bgColor:                   #e5e8ea;
@asBgPicker-extend-content-borderColor:               #eff1f2;
@asBgPicker-extend-content-cover-bgColor:             @asBgPicker-extend-bgColor;

@asBgPicker-remove-color:                             #fff;
@asBgPicker-remove-bgColor:                           #ff7975;
@asBgPicker-remove-borderColor:                       #fff;

@asBgPicker-close-color:                              #fff;
@asBgPicker-close-bgColor:                            #ff7975;
@asBgPicker-close-borderColor:                        #fff;

@asBgPicker_active-color:                             #fff;
@asBgPicker_active-bgColor:                           #5cafda;
@asBgPicker_active-borderColor:                       #5cafda;