@range-bar-color:                        #eee;
@range-pointer-size:                     16px;
@range-pointer-bgColor:                  #fff;
@range-pointer-borderColor:              #ddd;

@range-bar-height:                       14px;
@range-selected-color:                   @az-reactive-color;

@range-tip-bgColor:                      #555;
@range-tip-borderColor:                  @range-tip-bgColor;
@range-tip-arrow-color:                  @range-tip-bgColor;

@range-lines-color:                      #ccc;
@range-values-color:                     #ccc;