// ==============================================
// checkbox
// ==============================================
.asCheckbox {
	position: relative;
	.inline-block();
	width: @checkbox-width;
	height: @checkbox-height;
	margin: 0;
	padding: 0;
	color: @checkbox-color;
	vertical-align: middle;
	background-color: @checkbox-bgColor;
	cursor: pointer;
	&:hover,
	&.asCheckbox_hover {
		font-size: 20px;
	}

	& + label {
		.inline-block();
		.user-select(none);
	}
}
.asCheckbox_checkbox {
	font-size: 0;
	font-family: 'asFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		content: "\e603";
	}
}
.asCheckbox_checked {
	font-size: 20px;
	background-color: @checkbox_checked-bgColor;
	&:hover,
	&.asCheckbox_hover {
		font-size: 20px;
		background-color: @checkbox_checked_hover-bgColor;
	}
}
.asCheckbox_disabled {
	font-size: 0;
	background-color: @checkbox_disabled-bgColor;
	cursor: default;
	&:hover,
	&.asCheckbox_hover {
		font-size: 0;
		background-color: @checkbox_disabled_hover-bgColor;
	}
}
.asCheckbox_disabled.asCheckbox_checked {
	font-size: 20px;
	background-color: @checkbox_disabled_checked-bgColor;
	cursor: default;
	&:hover,
	&.asCheckbox_hover {
		font-size: 20px;
		background-color: @checkbox_disabled_checked_hover-bgColor;
	}
}