@checkbox-width:                              20px;
@checkbox-height:                             20px;
@checkbox-bgColor:                            #ddd;
@checkbox_hover-bgColor:                      @checkbox-bgColor;
@checkbox_hover-bgImage:                      "../images/checkbox_checked.png";

@checkbox_checked-bgColor:                    @az-reactive-color;
@checkbox_checked-bgImage:                    @checkbox_hover-bgImage;
@checkbox_checked_hover-bgColor:              @checkbox_checked-bgColor;
@checkbox_checked_hover-bgImage:              @checkbox_hover-bgImage;

@checkbox_disabled-bgColor:                   lighten(#ddd,6.8%);
@checkbox_disabled_hover-bgColor:             @checkbox_disabled-bgColor;

@checkbox_disabled_checked-bgColor:           #eee;
@checkbox_disabled_checked-bgImage:           @checkbox_hover-bgImage;
@checkbox_disabled_checked_hover-bgColor:     @checkbox_disabled_checked-bgColor;
@checkbox_disabled_checked_hover-bgImage:     @checkbox_hover-bgImage;