@spiner-wrap_hover-spiner-color:                       #444;
@spiner-wrap_hover-spiner-borderColor:                 #ccc;
@spiner-wrap_hover-spiner_focus-borderColor:           @az-reactive-color;
@spiner-wrap_hover-arrow-bgColor:                      #ccc;
@spiner-wrap_hover-arrow_active-bgColor:               hsl(hue(@az-reactive-color), 80%, 68%);

@spiner-wrap-spiner-color:                             #bbb;
@spiner-wrap-spiner-bgColor:                           #fff;
@spiner-wrap-spiner-borderColor:                       #e4e4e4;
@spiner-wrap-spiner_focus-color:                       #444;
@spiner-wrap-spiner_focus-borderColor:                 @az-reactive-color;
@spiner-wrap-spiner_focus-control-bgColor:             @az-reactive-color;
@spiner-wrap-spiner_focus-control_active-bgColor:      hsl(hue(@az-reactive-color), 80%, 68%);

@spiner-prev-bgColor:                                  #e4e4e4;
@spiner-next-bgColor:                                  #e4e4e4;

@spiner_focus-color:                                   #444;
@spiner_focus-borderColor:                             @az-reactive-color;
@spiner_focus-arrow-bgColor:                           @az-reactive-color;
@spiner_focus-bgColor:                                 hsl(hue(@az-reactive-color), 80%, 68%);