@select-wrapper-width:                              184px;

@select-trigger-color:                              #bbb;
@select-trigger-bgColor:                            #fff;
@select-trigger-borderColor:                        #e4e4e4;
@select-trigger_hover-borderColor:                  #d9d9d9;

@select-dropdown-ul-bgColor:                        #fff;
@select-dropdown-ul-borderColor:                    #e4e4e4;

@select_open-trigger-color:                         #444;
@select_open-borderColor:                           @primary-color;
@select_open_hover-borderColor:                     @select_open-borderColor;

@select-dropdown-li-color:                          #777;
@select-dropdown-li-bgColor:                        #fff;
@select-dropdown-li_hover-bgColor:                  @select-dropdown-li-bgColor;
