//==============================================
//select
//==============================================

.@{namespace}-selector-wrapper {
	position: relative;
	.inline-block();
	width: @selector-wrapper-width;
	line-height: 1;
	cursor: pointer;
	.user-select(none);
}
.@{namespace}-selector-wrapper .@{namespace}-selector-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.@{namespace}-selector_disabled {
	cursor: default; 
	-webkit-touch-callout: none; 
	.user-select(none);
}
.@{namespace}-selector-old {
	position: relative; 
	overflow: hidden; 
}
.@{namespace}-selector-old select {
	position: absolute; 
	left: -100%;
}

.@{namespace}-selector-trigger {
	padding: 0 10px;
	color: @selector-trigger-color;
	font-size: 14px;
	line-height: 32px;
	border: 2px solid @selector-trigger-borderColor;
	background-color: @selector-trigger-bgColor;
	.clearfix();
	text-align: right;
	&:hover {
		border-color: @selector-trigger_hover-borderColor;
	}	
}

.@{namespace}-selector-label {
	float: left;
	margin-right: 20px;
	white-space: nowrap; 
	overflow: hidden;
}

.@{namespace}-selector-handler {
	&:before {
		content: url("../images/icon-trangle.png");
		speak: none;
		.inline-block();
		text-decoration: none;
		width: 1em;
	}
}

.@{namespace}-selector-dropdown {
	position: absolute;
	display: none;
	overflow: auto; 
	top: 100%; 
	left: 0;
	z-index: 1;
	width: inherit;
	padding: 3px 2px;
	font-size: 14px;
	background-color: @selector-dropdown-ul-bgColor;
	border: 2px solid @selector-dropdown-ul-borderColor;
	.box-sizing(border-box);
	& >ul {
		position: relative;
		margin: 0;
	}
}

.@{namespace}-selector_open {
	.@{namespace}-selector-trigger {
		color: @selector_open-trigger-color;
		border: 2px solid @selector_open-trigger-borderColor;
		&:hover {
			border: 2px solid @selector_open-trigger_hover-borderColor;
		}
	}
	.@{namespace}-selector-dropdown {
		display: block;
	}
}

.@{namespace}-selector-dropdown {
	.@{namespace}-selector-item {
		position: relative;
		display: block;
		margin: 0;
		padding: 8px 10px;
		color: @selector-dropdown-li-color;
		list-style: none;
		background-color: @selector-dropdown-li-bgColor;
		cursor: pointer;
		&:hover {
			color: @selector-dropdown-li_hover-bgColor;
			background-color: @az-reactive-color;
		}
	}
	.@{namespace}-selector-group {
		margin: 0;
		.@{namespace}-selector-group-label {
			padding: 4px 6px;
			font-weight: bold;
			background-color: #f0f0f0;
			cursor: default;
		}
		.@{namespace}-selector-item {
			padding-left: 16px;
		}
	}
}
//==============================================