@calendar-padding:                                6px 35px 6px 10px;
@calendar-color:                                  #bbb;
@calendar-fontSize:                               14px;
@calendar-bgColor:                                #fff;
@calendar-borderColor:                            #e4e4e4;
@calendar_hover-borderColor:                      #d9d9d9;
@calendar_focus-color:                            #444;
@calendar_focus-borderColor:                      @calendar_hover-borderColor;

@calendar-content-bgColor:                        #fff;

@calendar-header-bgColor:                         @az-reactive-color;

@calendar-arraw_hover-bgColor:                    darken(@az-reactive-color, 6%);
@calendar-arrow_blocked_hover-bgColor:            @az-reactive-color;
@calendar-prev-bgImage:                           '../images/calendar-prev.png';
@calendar-prev-borderColor:                       #85c8ee;
@calendar-next-bgImage:                           '../images/calendar-next.png';
@calendar-next-borderColor:                       @calendar-prev-borderColor;

@calendar-caption-color:                          #fff;
@calendar-caption_hover-bgColor:                  darken(@az-reactive-color, 6%);
@calendar-caption_blocked-bgColor:                @az-reactive-color;

@calendar-days-borderColor:                       @az-reactive-color;

@calendar-head-color:                             #31373a;

@calendar-body_hover-bgColor:                     #eee;
@calendar-body_active-color:                      #fff;
@calendar-body_active-bgColor:                    @az-reactive-color;
@calendar-body_otherMonth-color:                  #acaeae;
@calendar-body_otherMonth_active-color:           @calendar-body_otherMonth-color;
@calendar-body_inRange-bgColor:                   #eee;
@calendar-body_otherMonth_inRange_hover-bgColor:  #eee;
@calendar-body_focus-color:                       darken(@az-reactive-color, 6%);
@calendar-body_focus-borderColor:                 @az-reactive-color;

@calendar-year-borderColor:                       @az-reactive-color;
@calendar-year_hover-bgColor:                     #eee;
@calendar-year_active-color:                      #fff;
@calendar-year_active_hover-bgColor:              @az-reactive-color;
@calendar-year_untouchable-color:                 #acaeae;
@calendar-year_untouchable_active-color:          @calendar-year_untouchable-color;
@calendar-year_inRange-bgColor:                   #eee;
@calendar-year_focus-color:                       darken(@az-reactive-color, 6%);
@calendar-year_focus-borderColor:                 @az-reactive-color;


@calendar-head-height:                            38px;
@calendar-week-height:                            34px;
@calendar-day-height:                             28px;
@calendar-day-width:                              32px;

@calendarMonthHeight:                             (@calendar-week-height + @calendar-day-height * 6) / 4;
@calendarMonthWidth:                              (@calendar-day-width * 7 )/ 3;